body{
    background: blue;
    font-family: sans-serif;
    text-align: center;
    color: black;
    margin:0;
    padding:0;
   

}

#container{
    width: 60%;
    border: black;
    text-align: center;
    padding: 1em;
    margin-left: 13em;
    border: 1px solid black;
    
}